<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iteration</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
      <div class="container">
            <div class="row">
              <h1>Employee</h1>
              <div class="col-md-8 col-md-offset-2">
                <table class="table table-bordered table-striped">
                    <thead>
                          <tr>
                            <th>#</th>
                            <th>Employee First Name</th>
                            <th>Employee Last Name</th>
                            <th>Employee Email</th>
                          </tr>
                    </thead>
                    <tbody>
                      <tr th:each="employee, employeeStat : ${employees}">
                          <td th:text="${employeeStat.count}"></td>
                          <td th:text="${employee.firstName}"></td>
                          <td th:text="${employee.lastName}"></td>
                          <td th:text="${employee.email}"></td>
                      </tr>
                      <tr th:each="employee : ${employees}"
                          th:style="${employeeStat.odd}? 'font-weight : bold;'"
                          th:alt-title = "${employeeStat.even}? 'even' : 'odd'"
                      >
                        <td th:text="${employee.firstName}"></td>
                        <td th:text="${employee.lastName}"></td>
                        <td th:text="${employee.email}"></td>

                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
      </div>
</body>
</html>